<!-- public/views/index.html -->
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%= title %></title>
</head>
<body>
<% if(locals.list) { %>
<p><b>Список людей!</b></p>
<table>
    <tr>
        <th>No</th>
        <th>Имя</th>
        <th>Фамилия</th>
        <th>Дата рождения</th>
    </tr>
    <% list.forEach(function(item) { %>
    <tr>
        <td><%= item._id %></td>
        <td><%= item.name.firstName %></td>
        <td><%= item.name.lastName %></td>
        <td>
            <%= item.birthDay.day %>.
            <%= item.birthDay.month %>.
            <%= item.birthDay.year %>
        </td>
    </tr>
    <% }); %>
</table>
<% } else if(locals.person) { %>
<p><b>Вывод информации о человеке</b>:</p>
<b>Имя: </b>
<%= person.name.firstName %>
<%= person.name.lastName %> <br>
<b>Дата рождения: </b>
    <%= person.birthDay.day %>.
<%= person.birthDay.month %>.
<%=person.birthDay.year %> <br>
    <% } else { %>
    <p>Ошибка.</p>
    <% } %>
</body>
</html>